html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: #e0fcd1;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 12%;
    background-color: #006633;
    padding: 10px 20px 0px; 
    color: #f1f1f1; 
}

.about {
    text-decoration: none;
    color: #f1f1f1;
}
.contact {
    text-decoration: none;
    color: #f1f1f1;
}
.atendimento{
    text-decoration: none;
    color: #f1f1f1;
}

.principal {
    text-decoration: none;
    color: #f1f1f1;
}

.header {
    background-color: #e0fcd1;
    min-height: 90px;
}
.header2 {
    float: right;
}
.pata {
    width: 100px;
    
}
.content {
    min-height: 450px;
    padding: 20px;
}

#titulo {
    font-family: 'Merriweather', serif;
    font-size: 40px;
    text-align: center;   
}

#minidescription {
    padding: 30px;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    text-align: center;
}
#tabela {
    padding-top: 20px;
    padding-left: 100px;
    padding-bottom: 30px;
    font-family: 'Merriweather', serif;
    text-align: center;
}
.cabeçalho {
    background: white;
}


.footer {

    background-color: #e0fcd1;
    min-height: 90px; 
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: left;
  
}

.informations {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-size: 12px;
}